body{
    background-color: #f8f8f8;
}
.panel{
    background-color: #f8f8f8!important;
    margin-left: 5px;
    margin-right: 5px;
}
.table{
    width: 98%;
    margin-bottom: 10px!important;
    margin-top: 10px;
    border: solid 1px #ddd;
    border-radius: 3px;

}

.table-header{
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
    display: block;
    line-height: 30px;
    border-bottom: solid #ddd 1px;
}

.table-row{
    padding:5px 0 5px 0;
    display:block;
    line-height: 30px;
    border-bottom: solid #ddd 1px;
}
