<div ng-controller="userController">
    <div class="col-xs-12">
<div class="col-xs-6">
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading bg-info">Personal Info</div>
                <div class="panel-body">
            <div class="form-horizontal" style="margin: 15px;">

                <div class="form-group">
                    <label class="control-label col-xs-3">First Name :</label>
                    <div class="col-xs-9">
                        <input  class="form-control" ng-model="user.fname"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3">Last Name :</label>
                    <div  class="col-xs-9">
                        <input class="form-control" ng-model="user.lname"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Lob Id :</label>
                    <div class="col-xs-9">
                        <input class="form-control" ng-model="user.lob_id"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Lob Description:</label>
                    <div class="col-xs-9">
                        <input class="form-control" ng-model="user.lob_description"/>
                    </div>
                </div>
                </div>
                    </div>
                </div>
    </div>
        <div class="col-xs-6">
    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading bg-info">Phone Info</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-3">Number :</label>
                    <div class="col-xs-9">
                        <input class="form-control" ng-model="user.phone.number"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Type :</label>
                    <div class="col-xs-9">
                        <input class="form-control" ng-model="user.phone.type"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-xs-3"> </div>
                    <div class="col-xs-9">
                    <button class="btn bg-info" ng-click="addPhone(user.phone);">Add Phone</button>
                        </div>
                </div>

                <div class="container table">

                    <div class="row table-header">
                        <div class="col-sm-3">Type</div>
                        <div class="col-sm-3">Number</div>
                        <div class="col-sm-3">Action</div>
                    </div>
                    <div class="row table-row" ng-repeat="phone in user.phones">
                        <div class="col-sm-3">{{phone.type}}</div>
                        <div class="col-sm-3">{{phone.number}}</div>
                        <div class="col-sm-3">
                            <button class="btn btn-info" ng-click="editPhone(phone);"> <i class="glyphicon glyphicon-edit"></i></button>
                            <button class="btn btn-danger" ng-click="removePhone(phone)"><i class="glyphicon glyphicon-remove-circle"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>

    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading bg-info">Addresse Info</div>
                <div class="panel-body">
                    <div class="form-horizontal" style="margin: 15px;">

                        <div class="form-group">
                            <label class="control-label col-xs-3">Line1 :</label>
                            <div class="col-xs-9">
                                <input class="form-control" ng-model="user.address.line1"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Line2 :</label>
                            <div class="col-xs-9">
                                <input class="form-control" ng-model="user.address.line2"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Line3 :</label>
                            <div class="col-xs-9">
                                <input class="form-control" ng-model="user.address.line3"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Line4 :</label>
                            <div class="col-xs-9">
                                <input class="form-control" ng-model="user.address.line4"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">city :</label>
                            <div class="col-xs-9">
                                <input class="form-control" ng-model="user.address.city"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">state :</label>
                            <div class="col-xs-9">
                                <input class="form-control" ng-model="user.address.state"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Zip :</label>
                            <div class="col-xs-9">
                                <input class="form-control" ng-model="user.address.zip"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-xs-3"> </div>
                            <div class="col-xs-9">
                                <button class="btn bg-info" ng-click="addAddress(user.address)">Add Address</button>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-6">
        <div class="container table col-xs-12">

            <div class="row table-header">
                <div class="col-sm-4">Address Lines</div>
                <div class="col-sm-2">City</div>
                <div class="col-sm-2">State</div>
                <div class="col-sm-1">Zip</div>
                <div class="col-sm-3">Action</div>
            </div>
            <div class="row table-row" ng-repeat="address in user.addresses">
                <div class="col-sm-4" >
                    {{address.line1}},
                    {{address.line2}},
                    {{address.line3}},
                    {{address.line4}}
                </div>

                <div class="col-sm-2">{{address.city}}</div>
                <div class="col-sm-2">{{address.state}}</div>
                <div class="col-sm-1">{{address.zip}}</div>
                <div class="col-sm-3">
                    <button class="btn btn-info" ng-click="editAddress(address);"> <i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-danger" ng-click="removeAddress(address);"> <i class="glyphicon glyphicon-remove-circle"></i></button>
                </div>
            </div>
        </div>
            </div>
    </div>
    <div class="col-xs-12">
    <div class="form-group pull-right">
        <div class="control-label col-xs-3"> </div>
        <div class="col-xs-9">
            <button class="btn bg-info" ng-click="saveUserInfo(user)">Save User Info</button>
        </div>
    </div>
        </div>
</div>