
<div ng-controller="homeController">
<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading bg-info">User Management</div>
    <div class="panel-body">

        <div class="form-group col-xs-12">
            <a class="btn bg-info" href="#/add">Add User</a>
        </div>
        <div class="form-inline pull-left" role="form">
            <div class="form-group">
                <label for="fname">Search :</label>
                <input type="text" class="form-control" id="fname" ng-model="search.fname" placeholder="first name">
            </div>
            <div class="form-group">
                <label for="lname">OR:</label>
                <input type="text" class="form-control" id="lname" ng-model="search.lname" placeholder="last name">
            </div>
        </div>
    </div>


    <!-- Table -->
    <div class="container table">

        <div class="row table-header">
            <div class="col-sm-3">ID</div>
            <div class="col-sm-3">FirstName</div>
            <div class="col-sm-3">LastName</div>
            <div class="col-sm-3">Action</div>
        </div>
        <div class="row table-row" ng-repeat="user in userList | filter:search">
            <div class="col-sm-3">{{user.id}}</div>
            <div class="col-sm-3">{{user.fname}}</div>
            <div class="col-sm-3">{{user.lname}}</div>
            <div class="col-sm-3">
                <button class="btn bg-info" ng-click="editUser(user)">Edit</button>
                <button class="btn bg-danger" ng-click="deleteUser(user.id)">Delete</button>
            </div>
        </div>
    </div>
</div>

    </div>
